# Bật rewrite để mọi request đổ về public/index.php
RewriteEngine On
RewriteBase /

# nếu file/thư mục thật thì cho phép truy cập trực tiếp
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# còn lại chuyển về index.php
RewriteRule ^ index.php [QSA,L]
