.qnu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 8px 20px;
  border-bottom: 2px #E5E7EB solid;

}

.qnu-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qnu-logo {
  height: 60px;
  width: auto;
}

.qnu-text .vn {
  font-size: 1rem;
  color: red;
  margin: 0;
  font-weight: bold;
}

.qnu-text .en {
  font-size: 0.8rem;
  font-weight: bold;
  color: #004aad;
  margin: 0;
}

.qnu-header-right {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

.qnu-header-right i {
  font-size: 20px;
}
