*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background-color: #F6F8FB;
    overflow: hidden;
}
.main{
    display: flex;
}
.app{
    overflow: scroll;
    max-height: calc(100vh - 100px);
}
.menubars{
    background: #fff;   
}